Repository hmcts/civil-sdt, pull requests merged in 2023-01, with the labels that each got.

#59 SDT-24: Configure ASB Message queue
  charts/civil-sdt/Chart.yaml
  charts/civil-sdt/values.preview.template.yaml
  charts/civil-sdt/values.yaml
  config/owasp/suppressions.xml
  dao/src/integ-test/resources/application-integ.yaml
  infrastructure/.terraform-version
  infrastructure/key-vault.tf
  infrastructure/main.tf
  infrastructure/service-bus.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  services/src/integ-test/resources/application-integ-asb.yaml
  services/src/integ-test/resources/application-integ.yaml
  services/src/main/java/uk/gov/moj/sdt/services/messaging/MessageWriter.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterTest.java
  src/integrationTest/resources/application-integration-test.yaml
  src/main/resources/application.yaml
  utils/src/main/resources/application.yaml
Labels: add-or-update

#67 SDT-88 Improve Coverage for module: services
  config/owasp/suppressions.xml
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/ConsumerGatewayTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/IndividualRequestConsumerTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/SubmitQueryConsumerTest.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/services/MockBulkFeedbackService.java
  services/build.gradle
  services/src/unit-test/java/uk/gov/moj/sdt/services/BulkFeedbackServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/BulkSubmissionServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/RetryMessageAlreadySentServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/UpdateRequestServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/cache/ErrorMessagesCacheTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/cache/GlobalParametersCacheTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/mbeans/SdtManagementMBeanTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/GenericXmlParserTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/IndividualRequestsXmlParserTest.java
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/UpdateItemTransformerTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-67

#79 Update Helm java chart version to 4.0.9
  charts/civil-sdt/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-79

#76 SDT-89
  build.gradle
  domain/build.gradle
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkCustomerApplicationTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkCustomerTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkFeedbackRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkSubmissionTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ErrorLogMessageTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/GlobalParameterTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/IndividualRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceRoutingTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceTypeTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/SubmitQueryRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/TargetApplicationTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-76

#83 SDT-10: Enable fortify one demand
  Dockerfile
  build.gradle
  charts/civil-sdt/Chart.yaml
  config/fortify-client.properties
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-83

#86 Updated DependencyCheck version to 8.0.2
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-86
