Repository hmcts/civil-sdt, pull requests merged in 2023-11, with the labels that each got.

#339 SDT-177: Removed azure-servicebus-jms-spring-boot-starter dependency
  build.gradle
  config/owasp/suppressions.xml
  dao/src/integ-test/resources/application-integ.yaml
  producers/src/end-to-end-test/resources/application-end-to-end-test.yaml
  services/src/integ-test/resources/application-integ.yaml
  src/integrationTest/resources/application-integration-test.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-339

#344 Removed duplicate and redundant dependencies
  build.gradle
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/SubmitQueryConsumerTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-344

#345 SDT-178: Ensure SDT uses servicebus
  build.gradle
  charts/civil-sdt/Chart.yaml
  charts/civil-sdt/values.yaml
  config/owasp/suppressions.xml
  infrastructure/service-bus.tf
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-345

#352 Change perftest service bus tier
  infrastructure/perftest.tfvars
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-352

#353 Change perftest service bus tier
  infrastructure/perftest.tfvars
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-353

#351 Perftest issue
  build.gradle
  dao/src/main/java/uk/gov/moj/sdt/dao/IndividualRequestDao.java
  dao/src/main/java/uk/gov/moj/sdt/dao/repository/IndividualRequestRepository.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/config/ServicesTestConfig.java
  services/src/main/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionService.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/MessageWriter.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterTest.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-351

#356 Perftest issue
  services/src/main/java/uk/gov/moj/sdt/services/AbstractSdtService.java
  services/src/main/java/uk/gov/moj/sdt/services/BulkSubmissionService.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/BulkSubmissionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-356

#357 Perftest issue: introduce ExecutorService to run queue immediately
  services/src/integ-test/java/uk/gov/moj/sdt/services/config/ServicesTestConfig.java
  services/src/main/java/uk/gov/moj/sdt/services/BulkSubmissionService.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/MessageWriter.java
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/MessagingUtilityTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-357

#358 Perftest issue: Fix issue messages not being sent to service bus queue
  services/src/main/java/uk/gov/moj/sdt/services/messaging/MessageWriter.java
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/MessagingUtilityTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-358

#360 Perftest issue: send scheduled messages
  build.gradle
  services/src/main/java/uk/gov/moj/sdt/services/BulkSubmissionService.java
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/BulkSubmissionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-360

#361 Introduce queue delay in applicaiton config
  producers/src/end-to-end-test/resources/application-end-to-end-test.yaml
  services/src/integ-test/resources/application-integ-asb.yaml
  services/src/integ-test/resources/application-integ.yaml
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/MessagingUtilityTest.java
  src/functionalTest/resources/application-functional-test.yaml
  src/integrationTest/resources/application-integration-test.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke-test.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-361

#355 SDT-170: Database migration scripts
  scripts/legacy-db-migration/README.md
  scripts/legacy-db-migration/export/export_bulk_customer_applications.sql
  scripts/legacy-db-migration/export/export_bulk_customers.sql
  scripts/legacy-db-migration/export/export_bulk_submissions.sql
  scripts/legacy-db-migration/export/export_error_logs.sql
  scripts/legacy-db-migration/export/export_individual_requests.sql
  scripts/legacy-db-migration/export/export_service_requests.sql
  scripts/legacy-db-migration/import/import.sql
  scripts/legacy-db-migration/import/reset_sequences.sql
  scripts/legacy-db-migration/validation/data_migration_validation.sql
  scripts/legacy-db-migration/validation/data_migration_validation_oracle.sql
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-355

#377 CVE-2023-36052 Suppression
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-377

#384 SDT-124
  producers/src/end-to-end-test/resources/application-end-to-end-test.yaml
  services/src/integ-test/resources/application-integ-asb.yaml
  services/src/integ-test/resources/application-integ.yaml
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  src/functionalTest/resources/application-functional-test.yaml
  src/integrationTest/resources/application-integration-test.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke-test.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-384
