Repository hmcts/civil-sdt, pull requests merged in 2023-02, with the labels that each got.

#87 SDT-90
  utils/src/main/java/uk/gov/moj/sdt/utils/mbeans/SdtMetricsMBean.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/SdtContextTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/SpringApplicationContextTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/UtilitiesTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/logging/LoggingContextTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/logging/PerformanceLoggerTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/mbeans/CustomerCounterTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/mbeans/SdtMetricsMBeansTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/parser/XmlNamespaceUtilsTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/transaction/synchronizer/MessageSynchronizerTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/visitor/NonVisitableTreeWalkerTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/visitor/TreeTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/visitor/VisitableTreeWalkerTest.java
  utils/src/unit-test/java/uk/gov/moj/sdt/utils/web/filter/ContextCleanupFilterTest.java
  utils/src/unit-test/resources/xml/testXMLValid.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-87

#71 SDT-21: Rebuild commissioning service
  Dockerfile
  build.gradle
  charts/civil-sdt/Chart.yaml
  config/fortify-client.properties
  config/owasp/suppressions.xml
  domain/build.gradle
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkCustomerApplicationTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkCustomerTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkFeedbackRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkSubmissionTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ErrorLogMessageTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/GlobalParameterTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/IndividualRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceRoutingTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceTypeTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/SubmitQueryRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/TargetApplicationTest.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/CommissioningCacheConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/CommissioningDaoConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/CommissioningMbeansConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/CommissioningSdtwsConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/CommissioningServicesConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/CommissioningUtilsConfig.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/CommissioningBulkFeedbackA00000001.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/CommissioningBulkFeedbackB00000001.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/CommissioningBulkFeedbackB00000002.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/bulkfeedback/CommissioningBulkFeedbackC00000001.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/CommissioningSubmitQueryRequestMCOLDefence1.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/CommissioningSubmitQueryRequestMCOLDefence2.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/CommissioningSubmitQueryRequestMCOLDefence3.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/CommissioningSubmitQueryRequestMCOLDefence4.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/CommissioningSubmitQueryRequestMCOLDefence5.java
  producers-commissioning/src/main/java/uk/gov/moj/sdt/producers/comx/config/submitquery/CommissioningSubmitQueryRequestMCOLDefence6.java
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/cache/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/dao/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/mbeans/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/sdtws/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-A00000001.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-B00000001.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-B00000002.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.bulkfeedback-C00000001.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence1.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence2.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence3.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence4.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence5.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.submitQuery-MCOLDefence6.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/services/spring.context.xml
  producers-commissioning/src/main/resources/uk/gov/moj/sdt/producers/comx/utils/spring.context.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-71

#106 Update Java chart version to 4.0.13
  charts/civil-sdt/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-106

#96 SDT-98: Update Data Model to include cutover indicator per customer
  config/owasp/suppressions.xml
  domain/src/main/java/uk/gov/moj/sdt/domain/BulkCustomer.java
  src/main/resources/db/migration/V0003__alter_bulk_customer.sql
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-96
