Repository hmcts/civil-sdt, pull requests merged in 2023-06, with the labels that each got.

#173 Temporarily suppressed CVE-2023-20883
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-173

#174 Fix CVE-2023-20883
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-174

#117 SDT-13: Update existing Claim Request workflow
  build.gradle
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGateway.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/CMCApi.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/CMCApiFallback.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/IClaimRequestService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/impl/ClaimRequestService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockClaimRequestService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/Address.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/ClaimRequest.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/Claimant.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/CorrespondenceDetailType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/Defendant.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/Interest.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/claim/SotSignature.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/response/ClaimResponse.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGatewayTest.java
  domain/src/main/java/uk/gov/moj/sdt/domain/api/IBulkCustomer.java
  infrastructure/key-vault.tf
  services/src/main/java/uk/gov/moj/sdt/services/AbstractSdtService.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionServiceTest.java
  src/main/resources/application.yaml
  utils/src/main/java/uk/gov/moj/sdt/utils/cmc/RequestTypeXmlNodeValidator.java
  utils/src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-117

#176 infra changes for phase-2
  charts/civil-sdt/Chart.yaml
  charts/civil-sdt/values.preview.template.yaml
  charts/civil-sdt/values.yaml
  infrastructure/key-vault.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-176

#175 SDT-127 - Incorrect database sequences increment interval
  build.gradle
  producers/src/end-to-end-test/resources/database/baseline/initialise_test_database.sql
  services/src/integ-test/resources/uk/gov/moj/sdt/services/sql/initialise_test_database.sql
  src/main/resources/application.yaml
  src/main/resources/db/migration/V0001__init.sql
Labels: ns:civil, prd:civil, destroy, rel:civil-sdt-pr-175

#178 Reduce AppInsights health sampling rate
  lib/applicationinsights.json
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-178

#181 Temporarily suppress CVE-2023-35116
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-181

#183 Temporarily suppress CVE-2023-2976
  config/owasp/suppressions.xml
  dao/src/main/java/uk/gov/moj/sdt/interceptors/service/PersistServiceRequestImpl.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-183
