Repository hmcts/civil-sdt, pull requests merged in 2023-03, with the labels that each got.

#112 Update Service Bus chart version to 0.4.0
  charts/civil-sdt/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-112

#90 SDT-94: Implement Additional Consumers module unit tests
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/ConsumerTestBase.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/IndividualRequestConsumerTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/SubmitQueryConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-90

#97 Sdt 93
  config/owasp/suppressions.xml
  services/src/unit-test/java/uk/gov/moj/sdt/services/BulkFeedbackServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/BulkSubmissionServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/RetryMessageAlreadySentServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/SubmitQueryServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/cache/ErrorMessagesCacheTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/cache/GlobalParametersCacheTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/config/MessageListenerConfigTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/config/ServicesConfigTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/mbeans/SdtManagementMBeanTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdbTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/SdtMessageTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/IndividualRequestsXmlParserTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/MessagingUtilityTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/SdtBulkReferenceGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-97

#104 Sdt 41
  config/owasp/suppressions.xml
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGateway.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/CMCApi.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/CMCApiFallback.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/IClaimStatusUpdateService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/impl/ClaimStatusUpdateService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockClaimStatusUpdateService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/CMCRequest.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/ClaimStatusUpdateRequest.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/UpdateType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/response/ClaimStatusUpdateResponse.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGatewayTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/BaseXmlTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/converter/XmlToObjectTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/impl/ClaimStatusUpdateServiceTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockClaimStatusUpdateServiceTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/xml/XmlReaderTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/response/ClaimStatusUpdateResponseTest.java
  consumers/src/unit-test/resources/ClaimStatusUpdate.xml
  consumers/src/unit-test/resources/ExpectedCMC_ClaimStatusRequest.json
  consumers/src/unit-test/resources/Expected_ClaimStatusRequest.json
  interceptors/src/main/java/uk/gov/moj/sdt/interceptors/in/SdtUnmarshallInterceptor.java
  services/src/main/java/uk/gov/moj/sdt/services/config/ServicesConfig.java
  src/main/resources/application.yaml
  utils/src/main/java/uk/gov/moj/sdt/utils/cmc/RequestTypeXmlNodeValidator.java
  utils/src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-104

#116 Suppress CVE-2022-40705 as a false positive
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-116

#109 SDT-107: Created unit tests for the handlers module
  handlers/src/unit-test/java/uk/gov/moj/sdt/handlers/WsCreateBulkRequestHandlerTest.java
  handlers/src/unit-test/java/uk/gov/moj/sdt/handlers/WsReadBulkFeedbackRequestHandlerTest.java
  handlers/src/unit-test/java/uk/gov/moj/sdt/handlers/WsReadSubmitQueryHandlerTest.java
  handlers/src/unit-test/java/uk/gov/moj/sdt/handlers/WsUpdateItemHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-109

#113 SDT-14: Update existing Judgement Request workflow
  config/owasp/suppressions.xml
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGateway.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/CMCApi.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/CMCApiFallback.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/IBreathingSpace.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/IBreathingSpaceService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/api/IJudgementService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/impl/BreathingSpaceService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/impl/JudgementRequestService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockBreathingSpaceService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockJudgementRequestService.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/converter/XmlConverter.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/Address.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/FullPaymentType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/ImmediatePaymentType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/InstalmentFrequencyType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/InstalmentPaymentType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/JudgementRequest.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/JudgmentType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/Payee.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/PaymentSchedule.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/PaymentScheduleType.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/request/judgement/SotSignature.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/response/judgement/JudgementResponse.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGatewayTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/BaseXmlTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/converter/XmlToObjectTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/impl/BreathingSpaceServiceTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockBreathingSpaceServiceTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/client/mock/MockJudgementRequestServiceTest.java
  consumers/src/unit-test/resources/Expected_Judgement.json
  consumers/src/unit-test/resources/Expected_JudgementResponse.xml
  consumers/src/unit-test/resources/Judgement.xml
  services-api/src/main/java/uk/gov/moj/sdt/services/api/ITargetApplicationSubmissionService.java
  services-api/src/main/java/uk/gov/moj/sdt/services/messaging/api/ISdtMessage.java
  services/src/main/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionService.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdb.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/SdtMessage.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdbTest.java
  utils/src/main/java/uk/gov/moj/sdt/utils/cmc/exception/CMCExceptionMessages.java
  utils/src/main/java/uk/gov/moj/sdt/utils/cmc/exception/CaseOffLineException.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-113

#114 SDT-109: Implement Additional Transformers module unit tests
  config/owasp/suppressions.xml
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/BulkFeedbackTransformerTest.java
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/BulkRequestTransformerTest.java
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/IndividualRequestConsumerTransformerTest.java
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/SubmitQueryConsumerTransformerTest.java
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/SubmitQueryTransformerTest.java
  transformers/src/unit-test/java/uk/gov/moj/sdt/transformers/UpdateItemTransformerTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-114

#118 Fix build failures
  Jenkinsfile_nightly
  consumers/src/unit-test/java/uk/gov/moj/sdt/consumers/IndividualRequestConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-118

#119 Remove redundant deployment_namespace Terraform var
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-119

#111 SDT-108: Implement Additional Domain module unit tests
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkCustomerApplicationTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkCustomerTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkFeedbackRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/BulkSubmissionTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ErrorLogMessageTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/IndividualRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceRoutingTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/ServiceTypeTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/SubmitQueryRequestTest.java
  domain/src/unit-test/java/uk/gov/moj/sdt/domain/visitor/AbstractDomainObjectVisitorTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-111

#124 Updated Terraform configuration
  infrastructure/key-vault.tf
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/service-bus.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-sdt-pr-124
