Repository hmcts/civil-sdt, pull requests merged in 2024-07, with the labels that each got.

#569 SDT-224: Ensure individual requests returned in line number order
  build.gradle
  dao/src/integ-test/java/uk/gov/moj/sdt/dao/BulkSubmissionDaoTest.java
  dao/src/integ-test/resources/uk/gov/moj/sdt/dao/sql/BulkSubmissionDaoTest.sql
  dao/src/main/java/uk/gov/moj/sdt/dao/GenericDao.java
  infrastructure/aat.tfvars
  infrastructure/database.tf
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/key-vault.tf
  infrastructure/perftest.tfvars
  infrastructure/service-bus.tf
  services/src/integ-test/java/uk/gov/moj/sdt/services/BulkFeedbackServiceIntTest.java
  services/src/integ-test/resources/uk/gov/moj/sdt/services/sql/BulkFeedbackServiceIntTest.sql
  services/src/main/java/uk/gov/moj/sdt/services/AbstractSdtService.java
  services/src/main/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionService.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdb.java
  src/main/java/uk/gov/moj/sdt/config/FilterConfig.java
  src/test/java/uk/gov/moj/sdt/config/FilterConfigTest.java
Labels: ns:civil, prd:civil, aat/add-or-update, prod/add-or-update, rel:civil-sdt-pr-569

#571 SDT-227: Set timezone to Europe/London
  src/main/java/uk/gov/moj/sdt/Application.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-571

#570 Added TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX env var
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-sdt-pr-570

#590 Update phase-3 branch with changes from master branch
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/civil-sdt/Chart.yaml
  config/owasp/suppressions.xml
  dao/src/integ-test/java/uk/gov/moj/sdt/dao/BulkSubmissionDaoTest.java
  dao/src/integ-test/java/uk/gov/moj/sdt/dao/IndividualRequestDaoTest.java
  dao/src/integ-test/resources/uk/gov/moj/sdt/dao/sql/BulkSubmissionDaoTest.sql
  dao/src/integ-test/resources/uk/gov/moj/sdt/dao/sql/IndividualRequestDaoTest.sql
  dao/src/main/java/uk/gov/moj/sdt/dao/GenericDao.java
  dao/src/main/java/uk/gov/moj/sdt/dao/IndividualRequestDao.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/database.tf
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/key-vault.tf
  infrastructure/perftest.tfvars
  infrastructure/service-bus.tf
  infrastructure/state.tf
  scripts/legacy-db-migration/README.md
  scripts/legacy-db-migration/data/README.md
  scripts/legacy-db-migration/export/export_bulk_customer_applications.sql
  scripts/legacy-db-migration/export/export_bulk_customers.sql
  scripts/legacy-db-migration/export/export_bulk_submissions.sql
  scripts/legacy-db-migration/export/export_error_logs.sql
  scripts/legacy-db-migration/export/export_individual_requests.sql
  scripts/legacy-db-migration/export/export_service_requests.sql
  scripts/legacy-db-migration/export_individual_requests_error_log_id.sql
  scripts/legacy-db-migration/export_sequence_values.sql
  scripts/legacy-db-migration/import.sql
  scripts/legacy-db-migration/import/import.sql
  scripts/legacy-db-migration/import/reset_sequences.sql
  scripts/legacy-db-migration/ora2pg.conf
  scripts/legacy-db-migration/revert/revert_target_db.sql
  scripts/legacy-db-migration/revert/revert_target_db_check.sql
  scripts/legacy-db-migration/validation/data_migration_validation.sql
  scripts/legacy-db-migration/validation/data_migration_validation_oracle.sql
  services/src/integ-test/java/uk/gov/moj/sdt/services/BulkFeedbackServiceIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/UpdateRequestServiceIntTest.java
  services/src/integ-test/resources/uk/gov/moj/sdt/services/sql/BulkFeedbackServiceIntTest.sql
  services/src/integ-test/resources/uk/gov/moj/sdt/services/sql/UpdateRequestServiceIntTest.sql
  services/src/main/java/uk/gov/moj/sdt/services/AbstractSdtService.java
  services/src/main/java/uk/gov/moj/sdt/services/RequeueOldIndividualRequests.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/RequeueOldIndividualRequestsTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/UpdateRequestServiceTest.java
  src/main/java/uk/gov/moj/sdt/Application.java
  src/main/java/uk/gov/moj/sdt/config/FilterConfig.java
  src/test/java/uk/gov/moj/sdt/config/FilterConfigTest.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-590

#592 Increase AAT max queue size
  infrastructure/aat.tfvars
  infrastructure/service-bus.tf
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, aat/destroy, prod/no-changes, rel:civil-sdt-pr-592

#596 SDT-230: Update version of SDT common to 3.2.1
  build.gradle
Labels: ns:civil, prd:civil, aat/add-or-update, prod/no-changes, rel:civil-sdt-pr-596

#597 Add debug logging to MessagingUtility
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-597

#598 Add debug logging to MessageWriter
  services/src/main/java/uk/gov/moj/sdt/services/messaging/MessageWriter.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-598

#600 Add executor service to single request enqueueRequest method
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-600

#601 Add additional logging to MessagingUtility
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-601

#602 Remove additional logging from MessagingUtility
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-602
