Repository hmcts/civil-sdt, pull requests merged in 2024-10, with the labels that each got.

#642 Updating phase-3 branch with changes made to master
  build.gradle
  dao/src/integ-test/resources/application-integ.yaml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/state.tf
  services/src/integ-test/java/uk/gov/moj/sdt/services/BulkFeedbackServiceIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/BulkSubmissionServiceIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/SubmitQueryServiceIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/UpdateRequestServiceIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/cache/GlobalParametersCacheIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/config/ConnectionFactoryTestConfig.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdbIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterIntAsbTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterIntTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/utils/SdtBulkReferenceGeneratorIntTest.java
  services/src/integ-test/resources/application-integ.yaml
  services/src/main/java/uk/gov/moj/sdt/services/config/ConnectionFactoryConfig.java
  services/src/main/java/uk/gov/moj/sdt/services/mbeans/SdtManagementMBean.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/JmsTemplateConfig.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/MessageWriter.java
  services/src/main/java/uk/gov/moj/sdt/services/utils/MessagingUtility.java
  services/src/main/java/uk/gov/moj/sdt/services/utils/RequeueIndividualRequestUtility.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/config/ConnectionFactoryConfigTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/mbeans/SdtManagementMBeanTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/JmsTemplateConfigTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/MessageWriterTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/RequeueIndividualRequestUtilityTest.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-sdt-pr-642

#591 Removing redundant code in civil-sdt
  build.gradle
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGateway.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGatewayTest.java
  services/src/integ-test/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdbIntTest.java
  services/src/main/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionService.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdb.java
  services/src/main/java/uk/gov/moj/sdt/services/messaging/SdtMessage.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/IndividualRequestMdbTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/messaging/SdtMessageTest.java
Labels: ns:civil, prd:civil, aat/destroy, prod/no-changes, rel:civil-sdt-pr-591

#652 SDT-200: Handle Case Locked notifications from CMC
  build.gradle
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGateway.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/config/CMCConfig.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/decoder/CMCErrorDecoder.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/exception/CMCCaseLockedException.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGatewayTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/decoder/CMCErrorDecoderTest.java
  dao/src/integ-test/resources/application-integ.yaml
  dao/src/main/java/uk/gov/moj/sdt/dao/IndividualRequestDao.java
  services/src/integ-test/resources/application-integ.yaml
  services/src/main/java/uk/gov/moj/sdt/services/RetryCaseLockedService.java
  services/src/main/java/uk/gov/moj/sdt/services/utils/RetryCaseLockedUtility.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/RetryCaseLockedServiceTest.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/utils/RetryCaseLockedUtilityTest.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-sdt-pr-652

#655 SDT-203: Handle CMC errors
  build.gradle
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGateway.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/decoder/CMCErrorDecoder.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/exception/CMCRejectedException.java
  consumers/src/main/java/uk/gov/moj/sdt/cmc/consumers/response/ErrorResponse.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/CMCConsumerGatewayTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/decoder/CMCErrorDecoderTest.java
  consumers/src/unit-test/java/uk/gov/moj/sdt/cmc/consumers/response/ErrorResponseTest.java
  services/src/main/java/uk/gov/moj/sdt/services/AbstractSdtService.java
  services/src/main/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionService.java
  services/src/unit-test/java/uk/gov/moj/sdt/services/TargetApplicationSubmissionServiceTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-sdt-pr-655
